
body{
background: url(logInBackGround.jpg) no-repeat;
}
.profile-card {
  box-shadow: 0 4px 8px 0 black;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.mail{
  color: white;
  font-size: 18px;
}


button {
  color: white;
  background : none;
  width: 100%;
  font-size: 18px;
  border: 2px solid white;
}

button:hover {
  border: 2px solid #816aaf;
  color: #816aaf;
}

p, h1, h2{
  color: white;
}

